@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Figtree", "Helvetica", "sans-serif";
$headers-font: "Work Sans", "Helvetica", "sans-serif";

body, p {
  font-family: $body-font;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $headers-font;
}
