.container {
  min-height: 70vh;

  .about-infos {
    padding-right: 20px;

    .about-skill {
      color: #9B8269;
      padding-left: 20px;
    }
  }

  .about-story {
    display: flex;
    margin-top: 20px;
  }
}
