@import "config/colors";

.container {
  min-height: 100vh;
  margin-block: 5em;

  .profile-pic {
    border-radius: 50%;
    width: 400px;
  }

  .pic-position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-section {
      // top: 0;
      // left: 0;
      text-align: right;
      margin-right: -45px;
      margin-top: -60px;
      z-index: 1;

      p {
        margin-left: 15px;
        color: $brown;
      }
    }

    .short-description {
      display: flex;
      text-align: left;
      margin-top: 30px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
}
