@import "config/colors";

.container {
  min-height: 100vh;
  margin-block: 3em;

  .profile-pic {
    border-radius: 50%;
    width: 400px;
  }

  .pic-position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-section {
      text-align: right;
      margin-right: -45px;
      margin-top: -10px;
      z-index: 1;

      p {
        margin-left: 15px;
        color: $grey;
      }
    }

    .style-btn {
      color: $brown;
      cursor: auto;
      background-color: transparent;
      border: $brown 1px solid;
      border-radius: 35px;
      padding: 10px 20px;
      margin-bottom: -15px;
      font-size: 25px;
    }

    .short-description {
      display: flex;
      text-align: left;
      margin-top: 30px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
}
