@import "config/colors";
@import "config/fonts";

.home-container {
  padding-block: 100px;

  .profile-pic {
    width: 500px;
  }

  .pic-position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .big-title {
      font-size: 70px;
    }

    .text-degrade {
      background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
      -webkit-background-clip: text;
      color: transparent;
    }

    .small-title {
      font-size: 50px;
    }

    .text-section {
      margin-top: -40px;

      p {
        color: $grey;
      }
    }

    .style-btn {
      color: $brown;
      cursor: auto;
      background-color: transparent;
      border: $brown 1px solid;
      border-radius: 35px;
      padding: 10px 20px;
      margin-bottom: -15px;
      font-size: 40px;
    }

    .short-description {
      display: flex;
      text-align: left;
      align-items: center;
      margin-top: 30px;
      margin-right: -45px;

      .short-text {
        margin-right: 30px;
        flex: 1;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
}
