@import "config/colors";

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;

  position: relative;

  .btn-back {
    position: absolute;
    top: 0;
  }

  .exp-title {
    line-height: 60px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    h1 {
      margin: 0;
      // color: white;
      // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
    }

    p {
      font-size: 25px;
      // color: white;
      opacity: .7;
      // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }
}

.my-experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  .about-experiences {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .experience {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 115px;

      background-color: lightgray;

      .image {
        width: 80%;
        height: auto;
        margin-right: 70px;

        img {
          border-radius: 15px;
          max-width: 450px;
          max-height: 100%;
        }
      }

      .text {
        // margin-top: 20px;
      }
    }
  }
}
