@import "config/colors";

.my-exp-container {
  .exp-title {
    margin-block: 100px;
    display: flex;

    p {
      font-size: 17px;
      opacity: .7;
    }
  }

  .experiences {
    .exp-tabs {
      overflow: hidden;
    }
    .tablink {
      padding: 10px;
      padding-inline: 20px;
      margin-right: 5px;
      border: #9B8269 1px solid;
      border-radius: 30px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: white;
        background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
        border: transparent;
        transition: flex 0.5s ease;
      }

      &.active {
        color: white;
        background-color: $brown;
        border: $brown 1px solid;
      }
    }

    .tabcontent {
      display: none;
      padding: 20px;
      margin-block: 20px;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  }
}
