@import "config/colors";

.my-story-container {

  .about-title {
    margin-block: 125px;
  }

  .btn-lightbrown {
    color: $brown;
    cursor: auto;
    background-color: transparent;
    border: $brown 1px solid;
    border-radius: 35px;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .about-text {
    display: flex;
    margin-block: 100px;

    .story {
      padding-right: 70px;

      h5 {
        margin-bottom: 35px;
      }

      h6 {
        color: $light-brown;
        line-height: 22px;
        margin-inline: 40px;
        margin-block: 25px;
      }

      p{
        a {
          color: $brown;

          &:hover {
            color: $dark-brown;
            transition: 0.3s ease;
          }
        }
      }
    }
  }

  .about-picture {
    img {
      max-width: 100%;
      height: auto;
      // border-radius: 25px;
    }
  }














  .line-break {
    display: block;
    height: 1px;
  }

  .about-story {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .story-text {
      padding-left: 60px;

      .h5-title {
        margin-bottom: 30px;
        color: $brown;
      }

      p {
        color: $grey;
        margin-bottom: 0;
      }

      .highlighted {
        color: $brown;
        font-weight: bold;
      }

      a {
        color: $brown;
        // text-decoration: underline;

        &:hover {
          color: $dark-brown;
          transition: 0.3s ease;
          // text-decoration: underline;
        }
      }
    }

    .story-picture {
      max-width: 60%;
      margin-right: 50px;
      // padding-bottom: 100px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
      }
    }
  }

  .about-story-personal {

    .short-story {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 17px;
        margin-bottom: 10px;
      }

      .btn-center {
        display: flex;
        justify-content: center;
      }
    }

    .hidden {
      display: none;
    }

    p {
      color: $grey;
      margin-bottom: 0;
    }

    .highlighted {
      color: $brown;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 800px) {
  .container .about-infos .all-skill-cards {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
