@import "config/colors";

.my-skills-container {

  

  .about-skills {
    margin-block: 50px;

    h4 {
      margin-bottom: 40px;
    }
  }

  .about-skills {
    p {
      color: $grey;
    }

    .about-skills-infos {

      .all-skill-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: space-between;
        gap: 10px;
        text-align: center;
        padding-block: 30px;

        .skill-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-block: 5px;

          border: 1px solid grey;
          padding: 25px;
          border-radius: 15px;
          margin-right: 20px;

          .expanded {
            height: auto;
            flex: 1 1 100%;
          }

          h6 {
            cursor: pointer;
            margin-bottom: 0;

            .text-degrade {
              background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
              -webkit-background-clip: text;
              color: transparent;

              &:hover {
                color:white
              }
            }
          }

          .description {
            margin: 10px;
            color: $light-brown;
          }

          .hidden {
            display: none;
          }

          &:hover {
            background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
            border: transparent;
            transition: flex 0.5s ease;

            p {
              color: white;
            }
          }
        }
      }
    }
  }

  .about-story {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .about-story-infos {
      .h5-title {
        margin-bottom: 30px;
        color: $brown;
      }

      .about-story-text {
        p {
          color: $grey;
          margin-bottom: 0;
        }

        .highlighted {
          color: $brown;
          font-weight: bold;
        }
      }
    }

    .about-pic {
      float: right;
      max-width: 60%;
      padding-left: 45px;
      padding-bottom: 100px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
      }
    }
  }

  .about-story-personal {

    .short-story {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 17px;
        margin-bottom: 10px;
      }

      .btn-center {
        display: flex;
        justify-content: center;
      }
    }

    .hidden {
      display: none;
    }

    p {
      color: $grey;
      margin-bottom: 0;
    }

    .highlighted {
      color: $brown;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 800px) {
  .container .about-infos .all-skill-cards {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
