@import "config/colors";

.my-exp-container {
  .exp-title {
    margin-block: 100px;
    display: flex;

    p {
      font-size: 17px;
      opacity: .7;
    }
  }

  .experiences {
    .exp-tabs {
      overflow: hidden;
    }
    .tablink {
      padding: 10px;
      padding-inline: 20px;
      margin-right: 5px;
      border: #9B8269 1px solid;
      border-radius: 30px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: white;
        background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
        border: transparent;
        transition: flex 0.5s ease;
      }

      &.active {
        color: white;
        background-color: $brown;
        border: $brown 1px solid;
      }
    }

    .tabcontent {
      display: none;
      padding: 20px;
      margin-block: 20px;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  }
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/lsd50.jpeg');
  background-size: cover;
  background-position: center;

  position: relative;

  .btn-back {
    position: absolute;
    top: 0;
    color: white;
  }

  .experience-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 125px;

    color: white;

    h3 {
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      line-height: 45px;
    }

    p {
      margin-left: 8rem;
      font-size: 17px;
      opacity: .7;
    }
  }
}
