@import "config/colors";

.projects-container {

  .project-title {
    margin-top: 100px;
    margin-bottom: 50px;

    h2 {
      font-size: 40px;
      font-weight: 600;
      color: $dark-brown;
      margin-bottom: 30px;
    }
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .card {
      max-width: calc(50% - 10px);

      img {
        max-width: 100%;
      }

      .project-links {
        display: flex;

        a {
          text-decoration: none;

          &:hover {
            transition: 0.3s ease;
          }
        }
      }
    }
  }












  .projects-title {
    margin-top: 125px;
    margin-bottom: 80px;
  }

  .ul-projects {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    padding-top: 45px;

    .li-projects {
      padding: 10px;
      padding-inline: 20px;
      margin-right: 20px;
      border: $brown 1px solid;
      border-radius: 30px;

      a {
        text-decoration: none;
        color: $brown;

        &:hover {
          color: white;
        }
      }

      &:hover {
        color: white;
        background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
        border: transparent;
        transition: flex 0.5s ease;

        a {
          color: white;
        }
      }

      &.active {
        color: white;
        background: linear-gradient(70deg, $superlight-brown 0%, $brown 100%);
        border: transparent;

        a {
          color: white;
        }
      }
    }
  }

  .project {
    margin-block: 125px;

    .project-infos-title {
      display: flex;
      // justify-content: space-between;
    }

    .project-infos {
      margin-bottom: 30px;

      h5 {
        margin-bottom: 20px;
      }
    }

    .project-details {
      display: flex;
      justify-content: flex-end;

      .tech {
        margin-right: 60px;
      }
    }

    .project-card {
      display: flex;
      justify-content: space-between;
      padding: 30px;
      background-color: $light-brown;
      border-radius: 25px;

      .mobile-pic-container {
        display: flex;
        justify-content: space-between;

        img {
          max-width: 30%;
          border-radius: 5px;
        }
      }

      .web-pic-container {
        display: flex;
        justify-content: space-between;

        img {
          max-width: 49%;
          border-radius: 5px;
        }
      }
    }


  }
}
