@import "config/colors";

.projects-container {
  margin-bottom: 100px;

  .project-title {
    margin-top: 100px;
    margin-bottom: 50px;

    h2 {
      font-size: 40px;
      font-weight: 600;
      color: $brown;
      margin-bottom: 30px;
    }
  }

  .project-links {
    display: flex;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .card {
      max-width: calc(50% - 10px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      h5 {
        a {
          text-decoration: none;
          color: $dark-brown;

          &:hover {
            color: $brown;
            transition: 0.3s ease;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
      }

      .project-links {
        display: flex;

        a {
          text-decoration: none;

          &:hover {
            transition: 0.3s ease;
          }
        }
      }
    }
  }

  .project-infos {
    display: flex;

    .project-pic {
      margin-right: 50px;

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      .web-pic-container {
        display: flex;
        max-width: calc(50% - 10px);

        .web-pic-item {
          margin-right: 20px;

          img {
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .mobile-pic-container {
        display: flex;

        .pic-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;

          .mobile-pic-item {
            max-width: 100%;
            height: auto;

            img {
              height: auto;
              border-radius: 10px;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }

    .project-details {
      margin-left: 40px;

      h5 {
        font-weight: 600;
        color: $brown;
        font-size: 20px;
        background: none;
        border: none;
        padding-inline: 0;
      }

      p {
        background: #F5F3F0;
        border-radius: 5px;
        padding: 15px;
      }
    }
  }
}
