<div class="footer">

  <div class="footer-infos">
    © Constance Lesaffre 2024 <br>
  </div>

  <div class="footer-links">
    <a href="https://github.com/constance-lsf" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/constance-lesaffre/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-mail">
    <a href="mailto:constance.lesaffre@hotmail.fr">constance.lesaffre@hotmail.fr</a>
  </div>

</div>
