<div class="container home-container">


  <div class="pic-position">
    <div class="text-section">
      <h1 class="big-title">Hi, I'm Constance</h1>
      <h2 class="small-title"><button class="style-btn">JUNIOR</button> FullStack Developer</h2>

      <div class="short-description">
        <p class="short-text">Hi there!
        <br>My name is Constance and I'm 26 years old. I'm a young web developer with experience mainly in Ruby on Rails and Javascript, but I'm eager to continue learning and expanding my skills.</p>
        <p class="short-text">Constantly seeking new challenges, I've gained valuable skills in web development and solving complex technical problems through Le Wagon. I'm looking to evolve in a stimulating and enriching environment, within a team.</p>
      </div>
    </div>
    <img src="/assets/profile_pic_white.png" alt="Profile Picture" class="profile-pic">
  </div>

  <div class="btn-container">
    <div class="btn-degrade">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "to know more", about_path(1) %>
    </div>

    <div class="btn-degrade">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "see my projects", projects_path %>
    </div>

    <div class="btn-degrade">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "contact me", new_contact_path %>
    </div>
  </div>

</div>
