<div class="container">


  <div class="pic-position">
    <div class="text-section">
      <h1 class="big-title">Hi, I'm Constance</h1>
      <h2 class="small-title"><button class="style-btn">JUNIOR</button> FullStack Developer</h2>

      <div class="short-description">
        <p class="short-text">I am a software developer with a passion for building web applications. I have experience with Ruby on Rails, JavaScript, and React.</p>
        <p class="short-text">I have worked on several projects, including a social media platform, an e-commerce site, and a blogging platform.</p>
      </div>
    </div>
    <img src="/assets/profile_pic_white.png" alt="Profile Picture" class="profile-pic">
  </div>

  <div class="btn-container">
    <div class="btn-about">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "to know more", about_path(1) %>
    </div>

    <div class="btn-about">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "see my projects", projects_path %>
    </div>

    <div class="btn-about">
      <i class="fa-solid fa-arrow-right"></i>
      <%= link_to "contact me", new_contact_path %>
    </div>
  </div>

</div>
