<div class="banner">
  <div class="container">
    <div class="btn-back" data-controller="back-button">
      <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
    </div>
    <div class="exp-title">
      <h1>If you've read my story, then you'll understand</h1>
      <p>why I chose an educational path that reflects a thirst for discovery and learning</p>
    </div>
  </div>
</div>

<div class="container my-experience-container">

  <div class="about-experiences">

    <div class="experience">
      <div class="image">
        <img src="/assets/oz1.jpg" alt="australia-pic">
      </div>
      <div class="text">
        <h6>As you probably understood upon arriving on my website, I have just completed a full-stack developer training at Le Wagon, in Paris.</h6>
        <p>This training allowed me to acquire solid technical skills in web development, but also to develop my ability to work in a team, to manage my time and to solve problems.</p>
      </div>
    </div>

    <div class="experience">
      <div class="image">
        <img src="/assets/oz1.jpg" alt="australia-pic">
      </div>
      <div class="text">
        <p>I started with a DUT in Marketing and Sales Techniques in Saint-Nazaire, where I gained solid foundations in marketing and sales,</p>
      </div>
    </div>

    <div class="experience">
      <div class="image">
        <img src="/assets/oz1.jpg" alt="australia-pic">
      </div>
      <div class="text">
        <p>Then, I continued with a bachelor's degree in Digital Marketing at SUPDEWEB in Toulouse, alternating as a Community Manager,</p>
      </div>
    </div>

    <div class="experience">
    <div class="image">
        <img src="/assets/oz1.jpg" alt="australia-pic">
      </div>
      <div class="text">
        <p>Before completing my studies with a master's degree in Communication at Audencia SciencesCom in Nantes, all while alternating as a Communication Officer.</p>
      </div>
    </div>

  </div>

</div>
</div>
