<div class="container">

  <div class="btn-back" data-controller="back-button">
    <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
  </div>

  <div class="about-skills d-flex">

    <div class="arrow-icon col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="about-skills-infos">
      <h5 class="h5-title">MY SKILLS</h5>

      <p>I have recently reached a new milestone with the web developer training at Le Wagon, where I had the opportunity to develop certain skills such as:</p>

      <div class="all-skill-cards" data-controller="show-skill">
        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Programming</span></h6>
          <p class="description hidden">I have honed my programming skills in languages such as HTML5, CSS3, and JavaScript, which are crucial for developing engaging and responsive websites.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">JavaScript Libraries</span></h6>
          <p class="description hidden">I have experience working with popular JavaScript libraries like Bootstrap, which streamline the web development process by offering pre-built components and templates.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Database Management</span></h6>
          <p class="description hidden">I have familiarized myself with relational databases such as PostgreSQL, along with using query languages like SQL for database manipulation.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Backend Development</span></h6>
          <p class="description hidden">I have learned to build server-side web applications using backend frameworks and programming languages, including Ruby and its framework, Ruby on Rails.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Code Versioning</span></h6>
          <p class="description hidden">I have developed skills in utilizing version control systems like Git, allowing me to work collaboratively with other developers and manage different versions of my code.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Deployment and Server Management</span></h6>
          <p class="description hidden">I have gained experience in deploying web applications on servers using cloud computing services like Heroku.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Design and UX/UI</span></h6>
          <p class="description hidden">I have acquired basic skills in web design and user experience (UX/UI), enabling me to create visually appealing and intuitive user interfaces.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="text-degrade">Testing and Debugging</span></h6>
          <p class="description hidden">I have learned to test and debug my code effectively, using automated testing tools and debugging techniques to identify and resolve errors.</p>
        </div>
      </div>
    </div>
  </div>
</div>
