<%# About.create!(
  title: 'About Me',
  description: 'I am a software developer with a passion for building web applications. I have experience with Ruby on Rails, JavaScript, and React.',
  skill: 'Ruby on Rails, JavaScript, React',
  experience: 'I have worked on several projects, including a social media platform, an e-commerce site, and a blogging platform.'
) %>

<div class="container">

<h1><%= @about.title %></h1>

<p><%= @about.description %></p>
<p><%= @about.skill %></p>
<p><%= @about.experience %></p>

</div>
