<div class="container about-container">

  <div class="btn-back" data-controller="back-button">
    <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
  </div>

  <div class="about-page">
    <div class="about-text">
      <div class="about-title">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra lectus. Maecenas nisl tellus, hendrerit vestibulum porttitor sit amet, iaculis non purus. Nullam et erat nec diam tincidunt pellentesque. Ut mollis mauris vitae nulla accumsan, sit amet tristique.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra lectus. Maecenas nisl tellus, hendrerit vestibulum porttitor sit amet, iaculis non purus. Nullam et erat nec.</p>
      </div>
      <!--<%# "A desire to learn and discover new things"
      "A thirst for learning and exploring new horizons"
      "An eagerness to discover and acquire new knowledge"
      "A passion for learning and uncovering novel experiences"
      "A drive to learn and explore fresh perspectives"
      "An insatiable curiosity for discovering and learning" %>-->

      <div class="about-tabs" data-controller="tab-about">
        <div class="ab-tabs">
          <button class="tablink" data-action="click->tab-about#openTab" data-tab="tab1">my story</button>
          <button class="tablink" data-action="click->tab-about#openTab" data-tab="tab2">my experiences</button>
          <button class="tablink" data-action="click->tab-about#openTab" data-tab="tab3">my tech skills</button>
        </div>

        <div id="tab1" class="tabcontent" data-tab-about-target="tab">
          <div class="flex-container">
            <div class="tab-arrow">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="tab-description">
              <h3>my story</h3>
              <p>If I had to start somewhere, I would say that I have always been very attracted to new technologies: my memories go back to the time of my first Word documents (<em>2005? 2006?</em>). This curiosity has driven me to explore numerous horizons since my early age, both in my personal and professional life.</p>

              <p class="highlighted">Added to that, growing up in a military family, living to the rhythm of the many relocations that undoubtedly enriched my journey and my worldview.</p>

              <p>After completing my studies and going through this COVID period full of twists and turns and lockdown, I felt the need to embark on a different kind of adventure. What was supposed to be a simple one-month trip to Mexico to celebrate the end of my academic journey turned into an incredible year of travel, encounters, work, and discoveries in Australia.<br>

              <br>Upon returning to France, the question of my professional future arose. I reached a turning point where I realized that I had a lot of questions about my future.
              That's when an idea that had been brewing for a year resurfaced: I had heard about a Web Developer training program at Le Wagon. Despite my doubts, the fear of the unknown (<em>has it ever stopped me, after all?</em>), I decided to embark on this career change.</p>

              <p class="highlighted">Having always been attracted to reflection and logic, I believe I have the patience needed to delve into this field.</p>

              <p>So here I am, ready to explore new perspectives, to combine my passion for communication with my budding skills in web development. Because after all, why not me?<br>

              <br><em>Best regards</em>,<br>

              <br>Constance</p>
            </div>
          </div>
        </div>

        <div id="tab2" class="tabcontent" data-tab-about-target="tab">
          <div class="flex-container">
            <div class="tab-arrow">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="tab-description">
              <h3>my experiences</h3>

              <div class="exp-tabs" data-controller="toggle-exp">
                <button class="explink" data-action="click->toggle-exp#toggle" data-toggle-exp-target="exp1">full-stack dev</button><br>
                <div id="exp1" class="expcontent hidden" data-toggle-exp-target="exp">
                  <p>After completing an intensive nine-week bootcamp at Le Wagon, I gained valuable experience in web development. I am proficient in front-end and back-end languages such as HTML, CSS, JavaScript, and Ruby on Rails, as well as tools like Figma, Git, and GitHub.
                  <br>My teamwork has allowed me to collaborate effectively in dynamic environments, from design to production delivery.</p>
                </div>

                <button class="explink" data-action="click->toggle-exp#toggle" data-toggle-exp-target="exp2">communication master degree</button><br>
                <div id="exp2" class="expcontent hidden" data-toggle-exp-target="exp">
                  <p>With a Master's degree in Digital Communication and Content from Audencia SciencesCom, I have expertise in creating web and print content, managing communication strategies, and understanding consumer perceptions.
                  <br>My research thesis focused on "The purpose of a company: communication and consumer perception".
                  <br>Additionally, I completed an apprenticeship as a Communication Manager at an EDF thermal power plant.</p>
                </div>

                <button class="explink" data-action="click->toggle-exp#toggle" data-toggle-exp-target="exp3">digital license</button><br>
                <div id="exp3" class="expcontent hidden" data-toggle-exp-target="exp">
                  <p>I also obtained a Digital Bachelor, where I deepened my skills in digital marketing, e-commerce, and e-marketing. This program allowed me to understand the challenges of the digital world and develop effective strategies to promote products and services online.</p>
                </div>

                <button class="explink" data-action="click->toggle-exp#toggle" data-toggle-exp-target="exp4">marketing and sales diploma</button><br>
                <div id="exp4" class="expcontent hidden" data-toggle-exp-target="exp">
                  <p>My academic background also includes a Diploma in University Technology (DUT) in Sales Techniques. This program provided me with solid skills in marketing, sales, project management, and customer relations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tab3" class="tabcontent" data-tab-about-target="tab">
          <div class="flex-container">
            <div class="tab-arrow">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="tab-description">
              <h3>my tech skills</h3>

              <div class="skills">
                <div class="row">
                  <div class="skill-logo">
                    <img src="/assets/logo-js.png" alt="js-logo">
                    <p>JAVASCRIPT</p>
                  </div>

                  <div class="skill-logo">
                    <img src="/assets/logo-html.png" alt="html-logo">
                    <p>HTML</p>
                  </div>

                  <div class="skill-logo">
                    <img src="/assets/logo-github.webp" alt="github-logo">
                    <p>GITHUB</p>
                  </div>
                </div>

                <div class="row">
                  <div class="skill-logo">
                    <img src="/assets/logo-rails.png" alt="rails-logo">
                    <p>RUBY ON RAILS</p>
                  </div>

                  <div class="skill-logo">
                    <img src="/assets/logo-scss.png" alt="scss-logo">
                    <p>SCSS</p>
                  </div>

                  <div class="skill-logo">
                    <img src="/assets/logo-heroku.png" alt="heroku-logo">
                    <p>HEROKU</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="about-picture">
      <img src="/assets/oz1.jpg" alt="australia-pic">
    </div>
  </div>
</div>
