<%# About.create!(
  title: 'About Me',
  description: 'I am a software developer with a passion for building web applications. I have experience with Ruby on Rails, JavaScript, and React.',
  skill: 'Ruby on Rails, JavaScript, React',
  experience: 'I have worked on several projects, including a social media platform, an e-commerce site, and a blogging platform.'
) %>

<div class="container">

  <h1>Looking for vibrant opportunities <br> in Web development 🚀</h1>

  <br>
  <hr>
  <br>

  <div class="about-card d-flex">

    <div class="col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="col-md-5">
      <div class="about-infos">
        <h5>In short</h5>
        <br>
        <p><%= @about.description %></p>
        <p class="about-skill"><%= @about.skill %></p>
        <p><%= @about.experience %></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="about-pic">
        <img src="/assets/profile_pic.png" alt="Profile Picture" style="width: 100%">
      </div>
    </div>
  </div>

  <div class="about-story">

    <div class="col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="col-md-11">
      <h5>My story</h5>
      <br>

      <p>If I were to start somewhere, I would say that I have always been very attracted to new technologies: my memories go back to the time of my first Word documents (2005? 2006?)...
      This curiosity has driven me to explore numerous horizons since my early age, both in my personal and professional life.
      Added to that, growing up in a military family, living to the rhythm of the many relocations that undoubtedly enriched my journey and my worldview.</p>
      <br>
      <p>Perhaps that's why I chose an educational path that reflects a thirst for discovery and learning:
      I started with a DUT in Marketing and Sales Techniques in Saint-Nazaire, where I gained solid foundations in marketing and sales,
      Then, I continued with a bachelor's degree in Digital Marketing at SUPDEWEB in Toulouse, alternating as a Community Manager,
      Before completing my studies with a master's degree in Communication at Audencia SciencesCom in Nantes, all while alternating as a Communication Officer.</p>
      <br>
      <p>After completing my studies and going through this COVID period full of twists and turns and confinement, I felt the need to embark on a different kind of adventure. What was supposed to be a simple one-month trip to Mexico to celebrate the end of my academic journey turned into an incredible year of travel, encounters, work, and discoveries in Australia.</p>
      <br>
      <p>Upon returning to France, the question of my professional future arose. After being offered a position as a communication officer: the turning point. Although I still enjoy this profession, I felt that something was missing.
      That's when an idea that had been brewing for a year resurfaced: I had heard about a Web Developer training program at Le Wagon. Despite my doubts, the fear of the unknown (has it ever stopped me, after all?), I decided to embark on this career change. Having always been attracted to reflection and logic, I believe I have the patience necessary to delve into this field.</p>
      <br>
      <p>So here I am, ready to explore new perspectives, to combine my passion for communication with my budding skills in web development. Because after all, why not me?</p>
      <br>
      <p>Best regards,</p>
      <br>
      <p>Constance</p>

    </div>
  </div>

</div>
