<div class="container">

  <h1 class="h1-big-title">Looking for vibrant opportunities <br> in Web development 🚀</h1>

  <hr>

  <div class="about-skills d-flex">

    <div class="arrow-icon col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="about-skills-infos">
      <h5 class="h5-title">MY SKILLS</h5>

      <p>I have recently reached a new milestone with the web developer training at Le Wagon, where I had the opportunity to develop certain skills such as:</p>

      <div class="all-skill-cards" data-controller="show-skill">
        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Programming</span></h6>
          <p class="description hidden">I have honed my programming skills in languages such as HTML5, CSS3, and JavaScript, which are crucial for developing engaging and responsive websites.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">JavaScript Libraries</span></h6>
          <p class="description hidden">I have experience working with popular JavaScript libraries like Bootstrap, which streamline the web development process by offering pre-built components and templates.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Database Management</span></h6>
          <p class="description hidden">I have familiarized myself with relational databases such as PostgreSQL, along with using query languages like SQL for database manipulation.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Backend Development</span></h6>
          <p class="description hidden">I have learned to build server-side web applications using backend frameworks and programming languages, including Ruby and its framework, Ruby on Rails.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Code Versioning</span></h6>
          <p class="description hidden">I have developed skills in utilizing version control systems like Git, allowing me to work collaboratively with other developers and manage different versions of my code.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Deployment and Server Management</span></h6>
          <p class="description hidden">I have gained experience in deploying web applications on servers using cloud computing services like Heroku.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Design and UX/UI</span></h6>
          <p class="description hidden">I have acquired basic skills in web design and user experience (UX/UI), enabling me to create visually appealing and intuitive user interfaces.</p>
        </div>

        <div class="skill-card">
          <h6 data-action="click->show-skill#showDetails"><span class="underline-brown">Testing and Debugging</span></h6>
          <p class="description hidden">I have learned to test and debug my code effectively, using automated testing tools and debugging techniques to identify and resolve errors.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-story d-flex">
    <div class="arrow-icon col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="about-story-infos">
      <div class="about-pic">
        <img src="/assets/oz1.jpg" alt="australia-pic">
      </div>

      <div class="about-story-text">
        <h5 class="h5-title">MY STORY</h5>
        <p>If I were to start somewhere, I would say that I have always been very attracted to new technologies: my memories go back to the time of my first Word documents <em>(2005? 2006?)</em>.This curiosity has driven me to explore numerous horizons since my early age, both in my personal and professional life.<span class="line-break"></span>
        Added to that, growing up in a military family, living to the rhythm of the many relocations that undoubtedly enriched my journey and my worldview.
        <br>
        <br>Perhaps that's why I chose an educational path that reflects a thirst for <strong>discovery and learning</strong>:</p>
        <ul>
          <li><p>I started with a DUT in <strong>Marketing and Sales Techniques</strong> in Saint-Nazaire, where I gained solid foundations in marketing and sales,</p></li>
          <li><p>Then, I continued with a bachelor's degree in <strong>Digital Marketing</strong> at SUPDEWEB in Toulouse, alternating as a Community Manager,</p></li>
          <li><p>Before completing my studies with a master's degree in <strong>Communication</strong> at Audencia SciencesCom in Nantes, all while alternating as a Communication Officer.</p></li>
        </ul>
        <p>After completing my studies and going through this COVID period full of <em>twists and turns and confinement</em>, I felt the need to embark on a different kind of adventure. What was supposed to be a simple one-month trip to Mexico to celebrate the end of my academic journey turned into <strong>an incredible year of travel, encounters, work, and discoveries in Australia</strong>.<br>
        <br>Upon returning to France, <em>the question of my professional future</em> arose. After being offered a position as a communication officer, I reached a <strong>turning point</strong> where I realized that, although I still enjoyed this profession, I felt that <em>something was missing</em>.<span class="line-break"></span>
        That's when an idea that had been brewing for a year resurfaced: I had heard about a <strong>Web Developer training program at Le Wagon</strong>. Despite my doubts, the fear of the unknown <em>(has it ever stopped me, after all?)</em>, I decided to embark on this career change. Having always been attracted to reflection and logic, I believe I have the patience necessary to delve into this field.<br>
        <br>So here I am, ready to explore new perspectives, to combine my passion for communication with my budding skills in web development. <strong>Because after all, why not me?</strong><br>
        <br><em>Best regards,</em><br>
        <br>Constance</p>
      </div>
    </div>
  </div>
</div>
