<%# About.create!(
  title: 'About Me',
  description: 'I am a software developer with a passion for building web applications. I have experience with Ruby on Rails, JavaScript, and React.',
  skill: 'Ruby on Rails, JavaScript, React',
  experience: 'I have worked on several projects, including a social media platform, an e-commerce site, and a blogging platform.'
) %>

<div class="container">

  <h1>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</h1>

  <br>
  <hr>
  <br>

  <div class="about-card d-flex">

    <div class="col-md-1">
      <i class="fa-solid fa-arrow-right"></i>
    </div>

    <div class="col-md-5">
      <div class="about-infos">
        <h5>Title</h5>
        <br>
        <p><%= @about.description %></p>
        <p class="about-skill"><%= @about.skill %></p>
        <p><%= @about.experience %></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="about-pic">
        <img src="/assets/profile_pic.png" alt="Profile Picture" style="width: 100%">
      </div>
    </div>
  </div>

</div>
