@import "config/colors";

.btn-about {
  display: flex;
  align-items: center;

  color: #333;

  padding: 10px 15px;
  margin-left: 40px;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $light-brown;
    transition: 0.3s;
  }

  a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;

    &:hover {
      color: $light-brown;
      transition: 0.3s;
    }
  }
}
