@import "config/colors";
@import "config/fonts";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0; /* Empêche le footer de réduire en hauteur */

  background-color: transparent;
  color: $light-brown;
  font-family: $headers-font;
  font-size: 13px;
  padding: 20px;

  .footer-left {
    flex: 1;
    font-size: 14px;
  }

  .footer-right {
    flex: 1;
    text-align: right;

    a {
      color: $light-brown;
      text-decoration: none;

      &:hover {
        color: $brown;
        transition: 0.3s ease;
      }
    }
  }

  .footer-center {
    flex: 1;
    display: flex;
    justify-content: center;

    a {
      margin: 0 10px;

      i {
        font-size: 30px;
        color: $light-brown;

        &:hover {
          color: $brown;
          transition: 0.3s ease;
        }
      }
    }
  }
}
