.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;

  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  color: rgba(0,0,0,0.3);

  .fa-heart {
    color: #D23333;
  }

  .footer-mail {
    text-decoration: none;
  }

  .footer-links {
    a {
      color: black;
      opacity: 0.15;
      text-decoration: none;
      font-size: 30px;
      padding: 0px 10px;
    }

    a:hover {
      opacity: 1;
    }
  }
}
