@import "config/colors";

.navbar {
  position: fixed;
  width: 100%;

  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-initial {
    font-size: 25px;
    text-decoration: none;
    color: $brown;
    font-weight: 900;
  }

  .nav-item {
    padding-left: 20px;
    padding-right: 10px;
    padding-block: 10px;
  }

  .nav-link {
    a {
      color: inherit;
      &:hover {
        color: $brown;
        border-color: $brown;
        border-radius: 25px;
      }
    }
  }

  .nav-link:hover,
  .nav-item.active .nav-link {
    color: $brown!important;
    border-color: $brown;
    border-radius: 25px;
  }

  .dropdown-item:hover,
  .dropdown-item.active .dropdown-menu {
    background-color: $light-brown;
  }
}
